<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cake Factory Homepage</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
</head>

<body>
{{>partials/navbar}}
<div class="container jumbotron mt-4">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{numberOfItemsInBasket}}</span>
            </h4>
            {{#basketEntries}}
            <ul class="list-group">
                <form action="/basket/remove" method="post">
                    <li class="list-group-item d-flex justify-content-between">
                        <div> {{key.title}} </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="mr-3"> ${{key.price}}</div>
                            <span class="badge badge-pill badge-info mr-3">{{value}}</span>
                            <input hidden value={{key.itemCode}} name="itemCode"/>
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </div>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                </form>

            {{/basketEntries}}
            <li class="list-group-item d-flex justify-content-between mt-3">
                <div>Total:</div>
                <div>${{total}}</div>
            </li>
        </ul>
        </div>

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate id="orderForm">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" name="firstName" {{#user}}{{#account}} value = {{firstName}} {{/account}}{{/user}} required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="lastName" {{#user}}{{#account}} value = {{lastName}} {{/account}}{{/user}} required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" name="email" placeholder="you@example.com" {{#user}}{{#account}} value = {{email}} {{/account}}{{/user}}>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="1234 Main St" {{#user}}{{#address}} value = {{addressLine}} {{/address}}{{/user}}>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" name="country" {{#user}}{{#address}} value = {{country}} {{/address}}{{/user}}>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" {{#user}}{{#address}} value = {{city}} {{/address}}{{/user}}>
                        <div class="invalid-feedback">
                            City required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" name="zip" {{#user}}{{#address}} value = {{zip}} {{/address}}{{/user}}>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" onclick="postAjax('/order')" data-toggle="modal"
                        data-target="#successModal">Complete Order
                </button>
            </form>

            <div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" id="successMessage">

                        </div>
                        <div class="modal-footer">
                            <a href="/">
                                <button type="button" class="btn btn-primary">Ok</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>partials/footer}}
</body>
</html>
