<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cake Factory Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="css/shop-homepage.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
{{>partials/navbar}}

<!-- Page Content -->
<div class="container">
    {{#showBasket}}
        <div id="addedSuccessfullyMessage" class="alert alert-warning alert-dismissible fade show text-center hidden"
             role="alert">
            <a href="/basket">Basket: {{numberOfItemsInBasket}} item(s).</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/showBasket}}

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Cake Factory</h1>
            <div class="list-group">
                <a href="#" class="list-group-orderItem">Donuts</a>
                <a href="#" class="list-group-orderItem">Eclairs</a>
                <a href="#" class="list-group-orderItem">Cakes</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 mt-5">
            <div class="row">

                {{#orderItems}}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="orderItem"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{title}}</a>
                                </h4>
                                <div class="d-flex justify-content-center align-baseline">
                                    <h5>${{price}}</h5>
                                    <form action="/basket" method="post">
                                        <input type="text" hidden value={{itemCode}} name="itemCode"/>
                                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                        <button type="submit" class="btn btn-link add-btn">Add</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                {{/orderItems}}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{{>partials/footer}}

<script>
    $(".add-btn").click(function () {
        $("#added").show();
        $("#added").alert();
    });
</script>
</body>

</html>
