<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cake Factory</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/shop-homepage.css" rel="stylesheet">
</head>

<body>
{{>partials/navbar}}

<div class="container jumbotron mt-4">
   <h1>Thank you, your order was placed successfully!</h1>
    <p>A confirmation email has been sent to you, here is a quick recap of your order...</p>
</div>

{{>partials/footer}}
</body>
</html>
